.puzzleBox {

  table, tr, td {
    opacity: 1;    

  }

  td {
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    text-align: center;
    opacity: 1;    
    /*border: 1px solid black;*/
    border: 5px solid grey;
    border-style: inset;
  }

  .emptyCell {
    background-color: white;
    opacity: 0;
    
  }
  .fullCell {
    background-color: #ddd;
    opacity: 1;
  }

}

.solvedPuzzle {
  .fullCell {
    background-color: #9AC659;
  }
}

.movesListTitle {
  margin-top: 2em;
}
.shuffleButton {
  font-size: 1em;
  margin-top: 1em;
  margin-right: 1em;
  padding: 1em 3em;
}